<%- include('includes/header')%>
<!-- header included here -->

<!--body-->

<%- include('includes/navi')%>
<!-- navi included here -->

<!--popup add new project-->
<div id="modal-add-project" class="popup-form"> <div class="bg-modal" onclick="toggleModal()"></div>
<form class="form-modal" action="/create-project" method="post">
    <div class="h3 text-center pb-3">Add new post</div>
    <label class="label" for="project_name">Project Name</label>
    <input type="text" name="project_name"/>
    <label class="label" for="project_description">Write a short description</label>
    <input type="text" name="project_description"/>
    <label class="label" for="deadline">Deadline</label>
    <input type="date" name="deadline"/>
    <label class="label" for="status">Status</label>
    <select name="status">
        <option value="new">New</option>
        <option value="waiting">Waiting</option>
        <option value="todo">To Do</option>
        <option value="done">Done</option>
    </select>

    <p class="label">Choose who should work on this project</p>
    <div class="choice">
      <% data.forEach(function(member) { %>  

		<% if (member.username) { %> 
        <div class="flex">
            <input type="checkbox" name="coder" value="<%= member.username %>"/>
            <p class="label" for="coder"><%= member.username %></p>
        </div>
		<% }%>
        <% }) %>       
    </div>
    <div class="btn-group">
        <button class="button main-btn" type="submit">SUBMIT</button>
       <!--  <button class="button main-btn-border" onclick="toggleModal(e)">CANCLE</button> -->
    </div>
</form>
</div>


<div class="custom-container">
	<div class="projects-wrapper">
		<% statusArray.forEach(function(status) { %>
			<div class="projects-status">
				<div class="h3 button reverse-btn uppercase"><%= status %></div>
				<% data.forEach(function(item) { %>
					<% if (item.status == status) { %>
						<div class="project-summary">
							<% if(item.coder){%>
								<%= item.coder %>
							<% }else{%>
							 <img class="avatar-img" src="/images/michaela.png" alt="binaryone"/> 
							 <% } %>
							<div class="project-description">
								<div class="h3"><%= item.project_name %></div>
								<div class="project-description"><%= item.project_description %></div>
								<br/>
								<div class="deadline"><%= item.deadline %></div>
							</div>
							<div class="wrapper-tools">
								<a href="/project/<%= item._id %>/edit">
									<button class="button mx-1  tool bg-success">
										<i class="fas fa-edit"></i>
									</button>
								</a>
								<form action="/project/<%= item._id %>/delete" method="POST">
									<button class="button  tool bg-danger">
										<i class="fas fa-trash-alt"></i>
									</button>
								</form>
							</div>
						</div>
					<% } %>
				<% }) %>
			</div>
		<% }) %>
	</div>
</div>

<!--footer included here-->
<%- include('includes/footer')%>
